$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.btn-common {
  display: block;
  margin: auto;
  font-size: 50px;
  color: black;
  background-color: salmon;
  border: 2px solid black;
  border-radius: 50px;
  margin-top: 10px;
  margin-botton: 20px;

}
.btn-running {
  background-color: salmon;
}
.btn-stopped {
  background-color: #C7E8AC;
}
.btn-disrupted {
  background-color: #C7E8AC;
}

.productivity-block {
  font-size: 24px;
  background-color: teal;
  text-align: center;
  margin: 0 50px;
}
.productivity-disrupted {
  background-color: red;
}

.timer-label {
  text-align: center;
  display: block;
}
.timer {
  font-size: 42px;
  text-align: center;
}
.user-info-initial {
  text-align: center;
}
.user-info-running {
  display: block;
  text-align: center;
}
.blame-visible {
  text-align: center;
  display: block;
  border: 2px solid black;
  border-radius: 30px;
  background-color: red;
  height: 36px;
  line-height: 36px;
  margin: 0px 100px 0px 100px;
  font-size: 24px;
}
.blame-hidden {
  display: none;
}
.flowclock-common {
  display: block;
  width: 500px;
  margin: auto;
  padding-bottom: 10px;
}
.just-started {
  background-color: lightgrey;
}
.getting-there {
  background-color: lightgoldenrodyellow;
}
.working-on-it {
  background-color: lightgreen;
}
.on-fire {
  background-color: limegreen;
}
.ommmmm {
  background-color: darkgreen;
}
